*{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
}

body{  
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: rgb(20, 20, 20);
  color: #fff;
  display: flex;
  justify-content: space-between; 
  height: 70px;
  border-bottom: 1px solid #2b2b2b;
}

.logo{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 120px; 
  color: #00B7D3;
  font-weight: bold;
  font-size: 25px;
}

 .menu ul{
  display: flex; 
  align-items: center;  
  padding-top: 23px;
}


.menu ul li{   
  padding: 3px;   
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;  
  display: flex;  
  padding-left: 10px;
  padding-right: 10px; 
  cursor: pointer;
}
.menu ul li:nth-child(4){
  color: #ff0000;
  margin-right: 200px;
}
.home{
  background-color: #111; 
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff; 
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 120px;
} 

.imagem img{
  max-width: 350px;    
  padding-left: 80px;
 }

.info{
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 1.875rem;
}

h1{
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 1.875rem;
}

.prof{
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.botoes{ 
  display: flex;  
}

.linkedin{
  display: flex;
  border: solid 1px #00B7D3;
  margin-right: 10px;
  padding: 10px 25px 10px 25px; 
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
}

.github{
  display: flex;
  border: solid 1px #6C6A9E;
  margin-left: 10px;
  padding: 10px 25px 10px 25px; 
  text-decoration: none;
  color: #fff;
  border-radius: 8px; 
}

/*Sobre*/

.sobre{  
  display: flex;
  background-color: rgb(20, 20, 20);
  padding-top: 100px; 
}

.sobreimg{
  max-width: 320px;
  padding-left: 120px;  
}
 
.hero::before{
  content: ""; 
  position: absolute;  
  width: 3px;
  height: 200px;
  background-color: #00B7D3;
  left: 117px;  
} 
 
span .cidade{
  padding-bottom: 15px; 
  font-size: 17px;
  font-weight: 500;
 }

 h2{
  padding-bottom: 13px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 300;
}
 

.sobretexto{ 
  width: 550px;
  color: #fff;
  letter-spacing: 1.8;
  height: 350px;
  line-height: 30px; 
  padding-left: 35px;
  padding-bottom: 15px;
}

.buttons{
  display: flex;
}

.curriculo{ 
  box-sizing: border-box;
  display: flex;
  border: solid 1px #6C6A9E;
  margin-right: 10px;
  padding: 5px 25px 5px 25px;
  text-align: center; 
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
}

.email{ 
  display: flex;
  border: solid 1px #00B7D3;
  margin-left: 10px;
  padding: 5px 25px 5px 25px; 
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
}

/*Experiência*/

.experiencia{
  background-color: #111;
  height: 450px;
  color: #fff;
  padding-left: 120px;
}

.titulo{
  padding-top: 100px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.geral-texto{
  display: flex;
}

.texto{
  width: 650px;
  padding-left: 149px;
  line-height: 30px;
}

.geral-dev{
  padding-bottom: 20px;
  padding-left: 250px;
}

.geral-titulo{
  text-transform: uppercase;
}

/*Seção projetos*/

.projetos-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projetos{
  background-color:  rgb(20, 20, 20);
  padding-left: 120px;
}

.titulo-projetos{
  color: #fff;
  padding-top: 100px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.projetos-imagem{
  max-width: 400px;
}

.infusion img{
  border-left: 3px solid #00B7D3;
}

.canvas img{
  border-left: 3px solid #00B7D3;
}

.titulo-imagem{
  color: #fff;
  margin-top: 15px;
  font-size: 25px;
  padding-bottom: 25px;
}

.paragrafo-imagem{
  color: #fff;
  width: 500px;
  line-height: 30px;
}

.tecnologias-usadas{
  color: #00B7D3;
  margin-top: 25px;
}

.visualizar{
  border: 1px solid #00B7D3;
  display: inline-block;
  margin-top: 18px;
  border-radius: 5px;
  margin-bottom: 60px;
  padding: 10px 20px;  
}

.visualizar a{
  text-decoration: none;  
  color: #fff;
  cursor: pointer;  
  padding: 10px 20px;
}

.visualizar a:hover{ 
  border-color: #ff0000;
  color: #6C6A9E; 
  cursor: pointer;
}

/*Footer*/

.footer{
  display: flex;
  background-color: #111;
  color: #fff;
  height: 70px;
  align-items: center; 
  padding-left: 120px;
  border-top: 1px solid #2b2b2b;
}

.autor{
  color: #00B7D3;
  padding-left: 10px;
}

/*Responsivo*/

@media (max-width: 850px){
  .container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .imagem img{     
    padding-left: 75px;
  }
  .info{
    font-size: 15px;
  }
  h1{
    font-size: 20px;
  }
  .prof{
    font-size: 16px;
  }
}

/*sobre*/
@media (max-width: 850px){
  /*.sobre{
    display: grid;
    grid-template-columns: 1fr;
  }*/
  h2{  
    font-size: 15px;
  }
  .cidade{
    font-size: 15px;
    margin-top: 15px; 
    padding-bottom: 25px;
  }

  .sobretexto p{
    font-size: 13px;  
    margin-bottom: 10px;
  } 

}

/*para remover código abaixo*/

.hoome{
  background-color: #111;  
}

.teste{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.paragrafo{
  font-size: 25px;
  color: #fff;
  display: flex;
  align-items: center; 
  padding-left: 120px;
  margin-top: 100px;
  padding-bottom: 20px;
} 
h1{
  color: #fff;
  padding-left: 120px;
}
.prof{
  padding-left: 120px;
}
.botoes{
  padding-left: 120px;
  margin-bottom: 70px;
}
.imagem img{
  max-width: 500px;
  margin-top: 65px; 
  padding-left: 130px;
  margin-bottom: 70px;
}