body, h1, h2, p, ul, li, a{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222222;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

*{
  box-sizing: border-box;
}

.menu-bg{
  background-color: #1F1E1F;
  border-bottom: 1px solid #677957;
}

.menu{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
}

.menu-logo a{
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
  color: #1CD46E;
}

.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a{
  font-size: 1rem;
  padding: 10px;
  color: #1CD46E;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

 .menu-nav a:hover{
  text-decoration: underline;
  padding-bottom: 3px; 
 }

 /*Seção sobre*/

.sobre{ 
  margin: 0 auto;
  display: flex; 
  padding: 30px;
  background-color: #333D29;
  height: 450px;
}

.text-sobre{ 
  padding-left: 580px;  
  line-height: 25px; 
  font-size: 16px;
   
}

 .sobre-mim{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
 }
.title-sobre{
  font-size: 2rem;
  padding-left: 580px;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 15px;
}

 .texto{
  flex: 7;
  color: #fff;
  padding-top: 150px;
 }
 .hero{
  max-width: 150px;
  flex: 1;
  padding-top: 150px;
 }

 .inicio{
  background-color: #141214;
  height: 450px; 
 }
.conteudo{
  flex: 4;
  width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 28px;
  font-size: 17px;
}

 .inicio-texto{
  display: flex;
  max-width: 1200px;
 justify-content: space-between;
 max-width: 1200px;
 margin: 0 auto;
 }

 .imagem{
  max-width: 150px;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
 }

 /* .btn{ 
  padding: 10px 40px 10px 40px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  margin-bottom: 45px;
 } */

 .btn{
  border: 1px solid #fff;
 }
 h1{
  font-size: 2.625rem;
  line-height: 1.1;
 }

 /* .btn:hover{
  background-color: #1CD46E;
  color: #fff;
  cursor: pointer;
 } */